/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/


.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */

    --background-color: #FFF1F7;
    --accent-color: #353430;
    --text-color: #353430;
    --highlight-color: #FFC2E6;
    --shadow-highlight-color: #FF8DCB;
    --accent-background: #FF8DCB;
    --text-on-accent: #353430;
    --button-color-rgb: 53, 52, 48;
    --background-image: url(../images/cover-image-light.png);
    --text-shadow: 4px 4px 0 var(--shadow-highlight-color);

    .page__decor {
      display: none;
    }  
}

@media (prefers-color-scheme: light) {
  :root { 
    --background-color: #FFF1F7;
    --accent-color: #353430;
    --text-color: #353430;
    --highlight-color: #FFC2E6;
    --shadow-highlight-color: #FF8DCB;
    --accent-background: #FF8DCB;
    --text-on-accent: #353430;
    --button-color-rgb: 53, 52, 48;
    --background-image: url(../images/cover-image-light.png);
    --text-shadow: 4px 4px 0 var(--shadow-highlight-color);

    .page__decor {
      display: none;
    }  
  }
}


