/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  min-block-size: 100vh;
  padding: var(--aside);
  background: var(--background-color) var(--background-image) no-repeat center
    center;
  background-attachment: fixed;
}

.page::after {
  content: '';
  position: fixed;
  inset-block-start: 0;
  inset-inline-end: 0;
  inline-size: 25px;
  block-size: 25px;
  margin: var(--aside);
  border-block-start: 1px solid var(--accent-color);
  border-inline-end: 1px solid var(--accent-color);
}

.page::before {
  content: '';
  position: fixed;
  inset-block-end: 0;
  inset-inline-start: 0;
  inline-size: 25px;
  block-size: 25px;
  margin: var(--aside);
  border-block-end: 1px solid var(--accent-color);
  border-inline-start: 1px solid var(--accent-color);
}

.page__decor {
  position: fixed;
  inset-block-start: 0;
  inset-inline-end: 0;
  z-index: 0;
  display: flex;
  align-items: center;
  margin-block-start: var(--aside);
  margin-inline-end: calc(var(--aside) + 9px);
  font-size: 18px;
  line-height: 25px;
  color: var(--accent-color);
}

.page__decor::after {
  content: '';
  display: block;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 100%;
  background-color: var(--accent-color);
  margin-inline-start: 10px;
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.header {
  min-block-size: 100vh;
  min-block-size: 100dvh;
  padding-block-start: 64px;

  @media (width >= 768px) {
   padding-block-start: 171px; 
  }

  @media (width >= 1024px) {
    padding-block-start: 0;
  }
}

.header__theme-menu {
  display: flex;
  justify-content: end;

  @media (width >= 1024px) {
    justify-content: center;
  }
}

.header__theme-menu-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;

  @media (width >= 1024px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.header__theme-menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  block-size: 24px;
  padding: 0 13px;
  border: 1px solid;
  border-color: transparent;
  background: transparent;
  color: rgb(var(--button-color-rgb));
  font-size: 18px;
  line-height: 100%;
  text-transform: lowercase;
  cursor: pointer;
  transition:
    color var(--transition-default),
    border-color var(--transition-default);
}

.header__theme-menu-button_active {
  border-color: rgb(var(--button-color-rgb));
}

.header__theme-menu-button:hover {
  border-color: rgba(var(--button-color-rgb), 0.4);
}

.header__theme-menu-button:focus {
  outline: none;
  border-block-end-color: rgb(var(--button-color-rgb));
}

.title-decor {
  background-color: var(--accent-color);
}

.hero {
  margin-block-start: 74px;
  padding-block-end: 64px;

  @media (width >= 768px) {
    margin-block-start: 181px;
  }

  @media (width >= 1024px) {
    margin-block-start: 281px;
  }
}

.hero__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  font-weight: bold;
  color: var(--highlight-color);
  text-shadow: var(--text-shadow);

  @media (width >= 768px) {
    margin-inline-start: -17px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem) ;
  }
}

.hero__block {
  display: flow-root;
  background-color: var(--accent-background);
  margin-block-start: 55px;

  @media (width >= 768px) {
    inline-size: 364px;
    margin-inline-start: auto;
    margin-block-start: 161px;
  }

  @media (width >= 1024px) {
    inline-size: 491px;
    margin-block-start: 109px;
  }
}

.hero__block__text {
  font-size: 18px;
  font-weight: bold;
  line-height: 23.4px;
  color: var(--text-on-accent);
}

.hero__block__figure {
  display: block;
  float: inline-end;
  inline-size: 50%;
  block-size: 50px;
  shape-outside: polygon(84.37% 54%, 100% 50%, 4.93% 84%, 3.38% 48%);

  @media (width >= 768px) {
    shape-outside: polygon(84.37% 54%, 100% 50%, -36.83% 88.00%, 3.38% 48%);
  }

  @media (width >= 1024px) {
    shape-outside: polygon(99.03% 0%, 100% 50%, 98.41% 34.00%, 95.44% 10%);
  }
}

.info {
  display: flex;
  flex-direction: column;
  gap: 46px;
  padding-block-start: 40px;

  @media (width >= 768px) {
    padding-block-start: 177px;
    gap: 80px;
  }

  @media (width >= 1024px) {
    padding-block-start: 130px;
  }
}

.info-section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.info-section_line {
  @media (width >= 1024px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.info-section_line > .info-section__title {
  @media (width >= 768px) {
    inline-size: 32%;
  }

  @media (width >= 1024px) {
    grid-column: 1 / -1;
  } 
}

.info-section:not(.info-section_line) { 
  @media (width >= 768px) {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
  }
}

.info-section:not(.info-section_line) > .info-block,
.info-section:not(.info-section_line) > .info-section__subtitle {
  @media (width >= 768px) {
    grid-column: 2 / 2 span;
  }
}

.info-section:not(.info-section_line) > .info-section__title {
  @media (width >= 768px) {
    grid-row: 1 / 2 span;
  }
}

.info-section__title {
  font-size: 18px;
  color: var(--accent-color);
}

.info-block {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.info-block__title,
.info-section__subtitle {
  display: block;
  background-color: var(--accent-background);
  font-size: 18px;
  line-height: 23px;
  color: var(--text-on-accent)
}

.info-block__title_light {
  font-weight: normal;
}

.info-block__text {
  font-size: 18px;
  color: var(--text-color);
}

.images-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-block-start: 50px;

  @media (width >= 768px) {
    margin-block-start: 78px;
    gap: 20px;
  }
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;

  @media (width >= 768px) {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}

.gallery__image {
  block-size: 100%;
  inline-size: 100%;
  object-fit: cover;
}

@media (width >= 768px) {
  .gallery__image:nth-of-type(1) {
    grid-column: 1 / 2 span; 
  }

  .gallery__image:nth-of-type(2) {
    grid-column: 3;
    grid-row: 1 / 2 span;
  }

  .gallery__image:nth-of-type(3) {
    grid-column: 1;
    grid-row: 2 / 2 span;
  }

  .gallery__image:nth-of-type(5) {
    grid-column: 2 / 2 span;
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-block-size: 667px;
  padding-block-start: 78px;
  font-size: clamp(7.25rem, 5.7694rem + 6.3174vw, 9.8125rem);
  color: var(--highlight-color);
  text-shadow: 2px 2px 0 var(--shadow-highlight-color);

  @media (width >= 768px) {
    min-block-size: 768px;
    padding-block-start: 60px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  @media (width >= 1024) {
    padding-block-start: 115px;
  }
}
